@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

html,
body {
    width: 100%;
    height: 100%;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing:.15em;
    background: #000;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.intro {
    width: 100%;
    font-size: 200%;
    font-weight: 400;
    color: rgb(75, 213, 238);
    opacity: 100;
    text-align: center;
    display: block;
}
.logo {
    width: 60%;
    opacity: 0;
    position: inherit;

}
.btn-info{
    margin: 5px;
    font-weight: bold;
}
#loginform {
    color: rgb(75, 213, 238);
    font-size: 1.25em;
}