html {
    height: 100%;
    width: 100%;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing: .15em;
    background: #000;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}
body {
    float: left;
    height: 100%;
    width: 100%;
    width: 100%;
    /* font-size: 200%; */
    /* font-weight: 400; */
    color: rgb(255, 255, 102);
    opacity: 100;
    text-align: center;
    display: block;
}
#source-msg-container{
    margin:2px;
}
.settings > input {
    margin: 2px;
    width: 30px;
    text-transform: uppercase;
}
.uboat-game{
    width: 40%;
    display: inline-flex;
    float: left;
    text-align: left;
    color: rgb(238, 75, 75);
}
.alies-game{
    width: 40%;
    display: inline-flex;
    text-align: left;
    float: left;
    color: rgb(75, 213, 238);

}
.msg-container{
    width: 50%;
    height: 60%;
    padding-left: 25px;
    overflow: auto;
}
.alies-info-container{
    float: left;
    top: 70%;
}
.game-container {
    width: 100%;
    height: 100%;
}

.target-msg-container{
    float: left;
    padding-left: 10px;
    margin: 12px;
}
.uboat-ready-btn{
    float: left;
    margin: 10px;
}
.alies-ready-btn{
    float: left;
    margin: 10px;
}

.alies-list{
    font-size: 12px;
}
.msg-list{
    padding-top: 50px;
    text-align: left;
}
.header-container{
    width: 100%;
}
.header-container > h1 {

}
#dummyframe{
    display: none;
}
.agent-list{
    font-size: 12px;
}
.success{
    font-size: 22px;
}